html {
  font-size: 62.5%;
  box-sizing: border-box;
 }

body {
  padding:0;
  margin:0;
  font-family: 'Inter', sans-serif;
 }



 img {
  width:60px;
  height:60px;
  border:4px solid white;
  border-radius: 50%;
  margin-left:6rem;
  margin-top: 2rem;
  transition: .15s ease-out;
 }



.card{
max-width: 500px;
display: flex;
flex-direction: column;
width: 100%;
height:300px;
text-align: left;
box-shadow: 0 20px 30px #f9f9f9;
border-radius: 30px;
overflow: hidden;
margin-left:20px;
transform: rotate(-6deg);
transition: .15s ease-out;
}

.text{
 text-align: left;
  font-size: 2rem;
  line-height: 3rem;
  padding:2rem;
}

 footer { 
  height: 40%;  
   background: rgb(92, 191, 187);
   background: linear-gradient(90deg, rgba(92, 191, 187, 1) 35%, rgba(116, 214, 144, 1) 66%);
   display: flex;
   justify-content: left; 
     gap:1rem;
 }


.card:hover{
  transform: rotate(0deg);
}

.card:hover img{
  transform: scale(1.1);
}